:root {
  --blue-color: #2196f3;
  --background-color-index: #2f303a;
  --color--212121--: #212121;
  --color--gray--757575: #757575;
  --white--color: #ffffff;
  --second--white: #eeeeee;
  --color-degrade--grba: rgba(255, 255, 255, 0.6);
  --background--buttons: #f5f4fa;
  --color--header--border: #ececec;
  --color--icons: #afb1b8;
  --color-icons-foter: rgba(255, 255, 255, 0.1);
  --background-color-cards: rgba(33, 150, 243, 0.9);
  --ventana--modeal: rgba(0, 0, 0, 0.2);
  --background-div-text-images: rgba(47, 48, 58, 0.8);
  --border-form-modal: rgba(33, 33, 33, 0.2);
}
